.App {
  height: 100%;
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.card-header {
  background-color: #222831;
}

.card-body {
  background-color: #393e46;
}

.navbar {
  background-color: #222831;
  color: white;
}
